$primary: #5D4C45;
$secondary: #FFFFFF;
<<<<<<< HEAD
$title-secondary: #4DA2D7;
$box-secondary-1: #4A687E;
$box-secondary-2: #4DA2D7; 
$box-secondary-3: #7a6b66;
$inverse-primary: white;
$inverse-secondary: #564C49;
$inverse-tertiary: #B29A92;
=======
$title-secondary: #C5A59C;
$box-secondary-1: #B37D6C;
$box-secondary-2: #4DA2D7;
$inverse-primary: #EFE8E8;
$inverse-secondary: #4A687E;
>>>>>>> 9f6a0121cf6a1c0bb98d50c14b9c83406428e223

@mixin font-heading-1 {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
}

@mixin font-heading-2 {
	font-family: 'Zilla Slab', serif;
	font-style: italic;
	font-weight: normal;
}

@mixin font-paragraph {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

$bp-tablet: 768px;

$page-text-width: 800px;
