$primary: #5D4C45;
$secondary: #FFFFFF;
$title-secondary: #C5A59C;
$box-secondary-1: #B37D6C;
$box-secondary-2: #4DA2D7;
$inverse-primary: #EFE8E8;
$inverse-secondary: #4A687E;

@mixin font-heading-1 {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
}

@mixin font-heading-2 {
	font-family: 'Zilla Slab', serif;
	font-style: italic;
	font-weight: normal;
}

@mixin font-paragraph {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

$bp-tablet: 768px;

$page-text-width: 800px;
